name: Publish Docker Android Build with hICN stack
on:
  schedule:
    - cron:  '0 1 * * *'
  push:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - name: Publish to Registry
      uses: elgohr/Publish-Docker-Github-Action@master
      with:
        name: icnteam/android-build:hicn
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
        registry: registry.hub.docker.com
        dockerfile: Dockerfile_hicn
        buildargs: DOCKER_IMAGE=icnteam/android-build:dep
