name: Docker Android Environment
on:
  schedule:
    - cron: '0 0 1 */6 *'
  push:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - name: Create Image and Publish to Registry
      uses: elgohr/Publish-Docker-Github-Action@master
      with:
        name: icnteam/android-build:env
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
        registry: registry.hub.docker.com
        dockerfile: Dockerfile_env
        buildargs: QT_CI_LOGIN=${{ secrets.QT_CI_LOGIN }} QT_CI_PASSWORD=${{ secrets.QT_CI_PASSWORD }}
